<a href="https://colab.research.google.com/github/xbarto0c/MPC-MLF/blob/main/exercie_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1.4.1

print the following pattern (using loops)

![image.png]()

In [ ]:
for i in range(5):
  for j in range(i + 1):
    print('X', end = " ");
  print('');

for i in range(4):
  for j in range(4 - i):
    print('X', end = " ");
  print('');

X
X X
X X X
X X X X
X X X X X
X X X X
X X X
X X
X

# Exercise 1.4.2

write a script that will sum all numbers in the following string

In [ ]:
input_str = "n45as29@#8ss6";
sum = 0;

for i in range(len(input_str)):
  if(input_str[i].isdigit()): sum = sum + int(input_str[i]);
print(sum);

34

# Exercise 1.4.3

write script that will convert an arbitary integer to binary number (number will be represented as string with only *0* and *1*). Avoid using *bin()* function or any other pythons default functions

In [ ]:
arb_int = 10;

def int_to_bin(arb_int):
  i = 0;
  help_var = 0;
  bin_str = [];
  while 1:
    i += 1;
    help_var = int(arb_int / 2);
    if arb_int == 0 and help_var == 0: return bin_str;
    bin_str.append(int(arb_int % 2)); 
    arb_int = help_var;

bin_list = int_to_bin(arb_int);
bin_str = "";
for i in range(len(bin_list)):
  bin_str += str(bin_list[len(bin_list) - i - 1]);

print(bin_str);

1100100

# Exercise 1.5-1:

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13. The next number in this series above is 8 + 13 = 21



Create a function that takes an integer as an input and return a list that contains all fibonaci numbers smaller than input integer

example:

*print(fibonaci(10))*

[0, 1, 1, 2, 3, 5, 8]

In [ ]:
def fibonaci(upper_threshold: int) -> list:
  fibonaci = [0, 1];
  i = 1;
  while 1:
    if upper_threshold > (fibonaci[i] + fibonaci[i - 1]): fibonaci.append(fibonaci[i] + fibonaci[i - 1]);
    else: return fibonaci;
    i += 1;
print(fibonaci(17));

[0, 1, 1, 2, 3, 5, 8, 13]

# Exercise 1.5-2:

### Basic:

implement fucntion *display_as_digi* that will print an arbitary integer in segment display style

example:

*display_as_digi(588)*


![digit.png]()

In [ ]:

def display_as_digi(number: int) -> None:
  dot_pos = str(number).rfind('.') - 1;  
  number = str(number).replace('.','');
  for i in range(5):
    for j in range(len(number)):
        if int(number[j]) == 0:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('X X', end = " ");
          elif i == 2: print('X X', end = " ");
          elif i == 3: print('X X', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('XXX', end = " ");
        elif int(number[j]) == 1:
          if i == 0: print('  X', end = " ");
          elif i == 1: print('  X', end = " ");
          elif i == 2: print('  X', end = " ");
          elif i == 3: print('  X', end = " ");
          elif i == 4 and j == dot_pos: print('  XX', end = "");
          elif i == 4: print('  X', end = " ");
        elif int(number[j]) == 2:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('  X', end = " ");
          elif i == 2: print('XXX', end = " ");
          elif i == 3: print('X  ', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('XXX', end = " ");
        elif int(number[j]) == 3:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('  X', end = " ");
          elif i == 2: print('XXX', end = " ");
          elif i == 3: print('  X', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('XXX', end = " ");
        elif int(number[j]) == 4:
          if i == 0: print('X X', end = " ");
          elif i == 1: print('X X', end = " ");
          elif i == 2: print('XXX', end = " ");
          elif i == 3: print('  X', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('  X', end = " ");
        elif int(number[j]) == 5:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('X  ', end = " ");
          elif i == 2: print('XXX', end = " ");
          elif i == 3: print('  X', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('XXX', end = " ");
        elif int(number[j]) == 6:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('X  ', end = " ");
          elif i == 2: print('XXX', end = " ");
          elif i == 3: print('X X', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('XXX', end = " ");
        elif int(number[j]) == 7:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('  X', end = " ");
          elif i == 2: print('  X', end = " ");
          elif i == 3: print('  X', end = " ");
          elif i == 4 and j == dot_pos: print('  XX', end = "");
          elif i == 4: print('  X', end = " ");
        elif int(number[j]) == 8:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('X X', end = " ");
          elif i == 2: print('XXX', end = " ");
          elif i == 3: print('x X', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('XXX', end = " ");
        elif int(number[j]) == 9:
          if i == 0: print('XXX', end = " ");
          elif i == 1: print('X X', end = " ");
          elif i == 2: print('XXX', end = " ");
          elif i == 3: print('  X', end = " ");
          elif i == 4 and j == dot_pos: print('XXXX', end = "");
          elif i == 4: print('XXX', end = " ");
    print("");
    pass
display_as_digi(123.4567890);

  X XXX XXX X X XXX XXX XXX XXX XXX
  X   X   X X X X   X     X X X X X
  X XXX XXX XXX XXX XXX   X XXX XXX
  X X     X   X   X X X   X x X   X
  X XXX XXXX  X XXX XXX   X XXX XXX

### Extension

extend our sement number printer to be able to print decimal numbers

# Exercise 2

### 1

- Create a numpy array with shape 5x5, that contains number from 25..to 0
- create a function that takes an arbitary numpy array as an input and sets all numbers smaller than user defined threshold to 0
- test your function on your array
- make one implementation using loops and one withnout using loops, compare execution time with *time* library

In [27]:
import numpy as np
import time
mat_col_num = 5;
mat_row_num = 5;
num_count = 24;
a = np.zeros((mat_row_num, mat_col_num));
for i in range(mat_row_num):
    for j in range(mat_col_num):
        a[i, j] = num_count;
        num_count -= 1;
print(a);
################################################################## without using for cycles
st = time.time();
b = a;
user_def_num = 10;
pos_num_result = np.where(a < user_def_num);
pos_num = list(zip(pos_num_result[0], pos_num_result[1]));
for i in range(len(pos_num)):
    a[pos_num[i]] = 0;
end = time.time();
print(a);
print("Elapsed time without using a cycle: ", end - st);
################################################################## using for cycles
a = b;
st = time.time();
size_mat = a.shape;
for i in range(size_mat[0]):
  for j in range(size_mat[1]):
    if(a[i, j] < user_def_num):
      a[i, j] = 0;
end = time.time();
print(a);
print("Elapsed time while using cycles: ", end - st);

[[24. 23. 22. 21. 20.]
 [19. 18. 17. 16. 15.]
 [14. 13. 12. 11. 10.]
 [ 9.  8.  7.  6.  5.]
 [ 4.  3.  2.  1.  0.]]
[[24. 23. 22. 21. 20.]
 [19. 18. 17. 16. 15.]
 [14. 13. 12. 11. 10.]
 [ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]]
Elapsed time without using a cycle:  0.00045680999755859375
[[24. 23. 22. 21. 20.]
 [19. 18. 17. 16. 15.]
 [14. 13. 12. 11. 10.]
 [ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]]
Elapsed time while using cycles:  0.00021386146545410156

### 2
 - lets return to our digi_diplay, create a function that will take an arbitary intiger an an input and display it as an binary image in segment display style.
*hint: to show an image use library matplotlib.pyplot, also you will maybe find usefull function np.concatenate*

In [ ]:
def show_in_digi(input_integer: int) -> None:
  pass

show_in_digi(5289) will show:

![image.png]()

# Exercise 3

Use google colab dataset loaded in the lecture and do following operations:

- check what *dataset.describe()* does

- display all rows where *total_bedrooms* is bigger than 310

- drop also first and last row and also

- save mean of values in *households* columns to variable, using *matplotlib* display number show number of household in graph (x axis would be ID, y axis - numbers of households) as dots with the same colour, display also mean as a single line in the graph with different colour as dots is

 - check if any of the columns contains NaN values, if yes replace the NaN values with arithmetic mean of whole dataset

 - display *lat* and *long* into plot, *lat* would be on *x* axis and *long* on *y* axis

- choose two arbitary columns and normalize all values inside using min-max normalization:

- Create a Correlation Matrix from all columns